<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1></h1>
    <br><br>

    <table>
        <tr>
            <th>EID</th>
            <th>Name</th>
            <th>Username</th>
            
        </tr>
       

            <tr>
                <td><%= eid %></td>
                <td>
                    <%= name %>
                </td>
                <td>
                    <%= username %>
                </td>
            </tr>

        
    </table>

    <br><br><br><br>

    <table>
        <tr>
            <th>Document</th>
            <th>View link</th>
            <th>Comments</th>
            <th>Add comment</th>
           
        </tr>
        <%  for(var i = 0; i < arr.length; i++){ %>

            <tr>
                <td><%= arr[i] %></td>
                
                <td>
                    <% if(arr[i] in docsCurr){ %>
                    <a href="<%- docsCurr[arr[i]] %>" target="_blank">View</a>
                    <% } %>
                </td>

                <td>
                    <% if(arr[i] in commCurr){ %>

                        <%= commCurr[arr[i]] %>
                    <% } %>
                </td>

                <td>
                    <form action="/hr/postComment" method="post">
                        <input type="text" id="comment" name="comment" />
                        <input type="text" name="<%- arr[i] %>" value="<%- arr[i] %>" hidden/>
                        <input type="text" name ="username" value = "<%-username %>"  hidden/>
                        <input type="submit" value="Post" />
                    </form>
                </td>

            </tr>

        <% } %>
    </table>
    
</body>
</html>